/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR : Vijayan PP
PROJECT : Nim-MUTLIT PURPOSE LANDING PAGE TEMPLATE
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	INDEX
++++++++++++++++++++++++++++++++++++++++++++++++++++++
	1> IMPORT FONTS
	2> RESET
	3> GENERAL
    4> TYPOGRAPHY
    5> BUTTON
    6> MAIN HEADER
    7> ANIMATION

       
-------------------------------------------------------*/





/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	IMPORT FONTS
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	RESET
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
}

html {
    -webkit-font-smoothing: antialiased;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
hr,
th,
td {
    margin: 0;
    padding: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	GENERAL
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
body {
    color: #fff;
    font: normal 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #000;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

}



h1 strong {
    font-weight: 900;
}

h2 {
    line-height: 20px;
    margin: 0;
}

h3 {
    font-size: 1.2em;
    font-weight: 900;
}

h5 {

    font-weight: 700;
    line-height: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.93em;
}


a {
    text-decoration: none !important;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate(-4%, 2%);
}

.text-capitalize {
    text-transform: uppercase;
}

p.intro {
    font-size: 0.9em;
    margin: 14px 0;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

.relative {
    position: relative;
}

.rightText {
    text-align: justify;
}

.leftText {
    text-align: left;
}

.RightText {
    text-align: right;
}

.top10 {
    margin-top: 1.2em;
}

.top20 {
    margin-top: 1.3em;
}

.top30 {
    margin-top: 2em;
}

.top40 {
    margin-top: 2.2em;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.a-slog {
    font-size: 0.93em;
    max-width: 450px;
    margin: 0 auto;
    padding-top: 10px;
}

.gap {
    width: 100%;
    height: 2em;
}

.title {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
}

.scroll-block {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.field+.field {
    margin-top: 10px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/*	TYPOGRAPHY
------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*	BUTTON
------------------------------*/
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    border-radius: 15px;
    margin-top: 20px;
    font-weight: bold;
}

.btn:hover {
    background-color: #42c20b
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 0;
}

.button:focus,
.button:active {
    outline: none;
    color: #ffffff;
}

.button-custom {
    border-radius: 3px;
    padding: 0.8em 1.8em;
    color: #fff;
    font-weight: 700;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    text-transform: uppercase;
}

.button-custom:hover,
.button-custom:focus {
    color: #fff;
}

.button-custom-outline {
    border-radius: 3px;
    padding: 0.8em 1.8em;
    color: #fff;
    font-weight: 700;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #ffffff;
}

.button-custom-outline:hover,
.button-custom-outline:focus {
    color: #ffffff;
    background-color: rgba(255, 255, 255, .5);
}

.button-bar a {
    margin-right: 10px;
}

/*	RAMSH-STYLE STARTS HERE
------------------------------*/

/*	MAIN HEADING
------------------------------*/

.main-heading {
    background: url(../images/shopping-woman.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #cfcfcf;
    margin-top: 80px;
}

/*----------------ANIMATIONS

-------------------------------------------------------*/
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}